<a href="#" class="list-group-item active">账户管理</a>
<a href="/index/index/record" class="list-group-item">操作记录</a>
<a href="/index/index/password" class="list-group-item">修改密码</a>

<a href="#" class="list-group-item active">数据管理</a>
<a href="/index/index/showdata" class="list-group-item">查看数据</a>